<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsLogsMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsLogs">
        <!--@mbg.generated-->
        <!--@Table ums_logs-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="op_id" jdbcType="CHAR" property="opId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="school_id" jdbcType="CHAR" property="schoolId"/>
        <result column="op_url" jdbcType="VARCHAR" property="opUrl"/>
        <result column="op_comment" jdbcType="VARCHAR" property="opComment"/>
        <result column="op_params" jdbcType="LONGVARCHAR" property="opParams"/>
        <result column="op_result" jdbcType="INTEGER" property="opResult"/>
        <result column="use_time" jdbcType="INTEGER" property="useTime"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="os_name" jdbcType="VARCHAR" property="osName"/>
        <result column="browse_name" jdbcType="VARCHAR" property="browseName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
         id, op_id, user_name, school_id, op_url, op_comment, op_params, op_result, use_time,
        `location`, ip, os_name, browse_name, update_time, delete_time, create_time
    </sql>

    <insert id="insertLog" keyColumn="id" keyProperty="id" parameterType="com.langyastudio.edu.db.model.UmsLogs"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into ums_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opId != null">
                op_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="opUrl != null">
                op_url,
            </if>
            <if test="opComment != null">
                op_comment,
            </if>
            <if test="opParams != null">
                op_params,
            </if>
            <if test="opResult != null">
                op_result,
            </if>
            <if test="useTime != null">
                use_time,
            </if>
            <if test="location != null">
                `location`,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="osName != null">
                os_name,
            </if>
            <if test="browseName != null">
                browse_name,
            </if>
            update_time,
            <if test="deleteTime != null">
                delete_time,
            </if>
            create_time,
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opId != null">
                #{opId,jdbcType=CHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=CHAR},
            </if>
            <if test="opUrl != null">
                #{opUrl,jdbcType=VARCHAR},
            </if>
            <if test="opComment != null">
                #{opComment,jdbcType=VARCHAR},
            </if>
            <if test="opParams != null">
                #{opParams,jdbcType=LONGVARCHAR},
            </if>
            <if test="opResult != null">
                #{opResult,jdbcType=INTEGER},
            </if>
            <if test="useTime != null">
                #{useTime,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=INTEGER},
            </if>
            <if test="osName != null">
                #{osName,jdbcType=VARCHAR},
            </if>
            <if test="browseName != null">
                #{browseName,jdbcType=VARCHAR},
            </if>
            #{updateTime,jdbcType=TIMESTAMP},
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            #{createTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-05-08-->
    <select id="getListBySchoolId" resultMap="BaseResultMap">
        select
         ums_logs.*
        from ums_logs

        <if test="(likeFullName != null and likeFullName != '') or userType != null">
            left join ums_user u on u.user_name = ums_logs.user_name
        </if>
        <if test="likePhone != null and likePhone != ''">
            left join ums_user_auth ua on ua.user_name = ums_logs.user_name
        </if>

        <!--用户分组-->
        <if test="likeSgPaths != null and likeSgPaths.size() != 0">
            left join ums_school_user_branchs usub on usub.user_name = ums_logs.user_name
            left join ums_school_branchs usb on usb.sg_id = usub.sg_id
        </if>

        <where>
            <if test="schoolId != null">
                and ums_logs.school_id = #{schoolId,jdbcType=CHAR}
            </if>
            <if test="likeSgPaths != null and likeSgPaths.size() != 0">
                and
                <foreach collection="likeSgPaths" item="sgPath" open="(" separator="or" close=")">
                    (usb.sg_path like concat(#{sgPath,jdbcType=VARCHAR}, '%') )
                </foreach>
            </if>
            <if test="minCreateTime != null">
                and ums_logs.create_time <![CDATA[>=]]> #{minCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="maxCreateTime != null">
                and ums_logs.create_time <![CDATA[<=]]> #{maxCreateTime,jdbcType=TIMESTAMP}
            </if>

            <if test="userType != null">
                and u.user_type = #{userType,jdbcType=TINYINT}
            </if>

            <if test="likeUserName != null and likeUserName != null">
                and ums_logs.user_name like concat('%', #{likeUserName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="likeFullName != null and likeFullName != ''">
                and u.full_name like concat('%', #{likeFullName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="likePhone != null and likePhone != ''">
                and ua.phone like concat('%', #{likePhone,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by ums_logs.id desc
    </select>
</mapper>