<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsMessageMapper">
  <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsMessage">
    <!--@mbg.generated-->
    <!--@Table ums_message-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_id" jdbcType="CHAR" property="msgId" />
    <result column="send_id" jdbcType="CHAR" property="sendId" />
    <result column="send_type" jdbcType="TINYINT" property="sendType" />
    <result column="to_id" jdbcType="CHAR" property="toId" />
    <result column="to_type" jdbcType="TINYINT" property="toType" />
    <result column="event_id" jdbcType="CHAR" property="eventId" />
    <result column="queue" jdbcType="SMALLINT" property="queue" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
    <result column="msg_content" jdbcType="LONGVARCHAR" property="msgContent" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, msg_id, send_id, send_type, to_id, to_type, event_id, queue, msg_title, msg_content, 
    `status`, update_time, delete_time, create_time
  </sql>

<!--auto generated by MybatisCodeHelper on 2021-08-23-->
  <insert id="insertMessage" keyColumn="id" keyProperty="id" parameterType="com.langyastudio.edu.db.model.UmsMessage"
          useGeneratedKeys="true">
    INSERT INTO ums_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="toType != null">
        to_type,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="queue != null">
        queue,
      </if>
      <if test="msgTitle != null">
        msg_title,
      </if>
      <if test="msgContent != null">
        msg_content,
      </if>
      <if test="status != null">
        status,
      </if>
      update_time,
      <if test="deleteTime != null">
        delete_time,
      </if>
      create_time
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=CHAR},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=CHAR},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=TINYINT},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=CHAR},
      </if>
      <if test="toType != null">
        #{toType,jdbcType=TINYINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=CHAR},
      </if>
      <if test="queue != null">
        #{queue,jdbcType=SMALLINT},
      </if>
      <if test="msgTitle != null">
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      #{updateTime,jdbcType=TIMESTAMP},
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      #{createTime,jdbcType=TIMESTAMP}
    </trim>
  </insert>

  <delete id="deleteSoft">
    update ums_message
    set delete_time = NOW()
    where msg_id = #{msgId,jdbcType=CHAR}
  </delete>

  <update id="mark">
    update ums_message
    set status =  #{status,jdbcType=TINYINT}
    where msg_id = #{msgId,jdbcType=CHAR}
  </update>

  <select id="getCount" resultType="java.lang.Integer">
    select count(1)
    from ums_message m
    <where>
      <if test="userName != null">
        m.to_id = #{userName,jdbcType=CHAR}
      </if>
      <if test="status != null">
        and m.status = #{status,jdbcType=CHAR}
      </if>
      and m.delete_time is null
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-08-25-->
  <select id="getList" resultType="java.lang.String">
    select distinct msg_id
    from ums_message
    <where>
      <if test="queue != null">
        and queue = #{queue,jdbcType=SMALLINT}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=SMALLINT}
      </if>
      <if test="toId != null">
        and to_id = #{toId,jdbcType=VARCHAR}
      </if>
      and delete_time is null
    </where>
    order by id desc
  </select>

  <select id="getMsgIds" resultType="java.lang.String">
    select distinct msg_id
    from ums_message
    <where>
      <if test="userName != null">
        and to_id = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=SMALLINT}
      </if>
      and delete_time is null
    </where>
  </select>

  <select id="getInfoByMsgId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ums_message
    where msg_id = #{msgId,jdbcType=CHAR}
    and delete_time is null
    limit 1
  </select>

</mapper>