<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsUserAuthMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsUserAuth">
        <!--@mbg.generated-->
        <!--@Table ums_user_auth-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, pwd, phone, email, enabled, locked, update_time, delete_time, create_time
    </sql>

    <update id="updateByUserName" parameterType="com.langyastudio.edu.db.model.UmsUserAuth">
        <!--@mbg.generated-->
        update ums_user_auth
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=TINYINT},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </set>
        where user_name = #{userName,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-04-26-->
    <select id="getInfoByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_user_auth
        where user_name = #{userName,jdbcType=VARCHAR}
          and delete_time is null
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-26-->
    <select id="getInfoByUserNameEx" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_user_auth
        where user_name = #{userName,jdbcType=VARCHAR}
        and delete_time is null
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-26-->
    <select id="getUserNameByPhone" resultType="java.lang.String">
        select user_name
        from ums_user_auth
        where phone = #{phone,jdbcType=CHAR}
          and delete_time is null
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-26-->
    <insert id="insertUserAuth">
        INSERT INTO ums_user_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="locked != null">
                locked,
            </if>
            update_time,
            <if test="deleteTime != null">
                delete_time,
            </if>
            create_time
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=TINYINT},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=TINYINT},
            </if>
            #{updateTime,jdbcType=TIMESTAMP},
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            #{createTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>
</mapper>