<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsUserOauthsMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsUserOauths">
        <!--@mbg.generated-->
        <!--@Table ums_user_oauths-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="oauth_id" jdbcType="CHAR" property="oauthId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="oauth_type" jdbcType="TINYINT" property="oauthType"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, oauth_id, user_name, oauth_type, update_time, delete_time, create_time
    </sql>

    <select id="getByUserName" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ums_user_oauths
        where user_name = #{userName,jdbcType=VARCHAR}
          and oauth_type = #{oAuthType,jdbcType=INTEGER}
          and delete_time is null
        limit 1
    </select>

    <delete id="deleteByUserName">
        <!--@mbg.generated-->
        update ums_user_oauths
        set delete_time = now()
        where user_name = #{userName,jdbcType=VARCHAR}
          and oauth_type = #{oAuthType,jdbcType=INTEGER}
    </delete>

    <insert id="insertUserOauth" keyColumn="id" keyProperty="id"
            parameterType="com.langyastudio.edu.db.model.UmsUserOauths" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into ums_user_oauths
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oauthId != null">
                oauth_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="oauthType != null">
                oauth_type,
            </if>
            update_time,
            <if test="deleteTime != null">
                delete_time,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oauthId != null">
                #{oauthId,jdbcType=CHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="oauthType != null">
                #{oauthType,jdbcType=TINYINT},
            </if>
            #{updateTime,jdbcType=TIMESTAMP},
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            #{createTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>

<!--auto generated by MybatisCodeHelper on 2021-05-07-->
    <select id="getUserNameByOauthId" resultType="java.lang.String">
        select
        user_name
        from ums_user_oauths
        where oauth_id=#{oauthId,jdbcType=CHAR}
        and delete_time is null
        limit 1
    </select>
</mapper>