<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsUserRolesMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsUserRoles">
        <!--@mbg.generated-->
        <!--@Table ums_user_roles-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="role_id" jdbcType="CHAR" property="roleId"/>
        <result column="school_id" jdbcType="CHAR" property="schoolId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, role_id, school_id, update_time, delete_time, create_time
    </sql>

    <insert id="batchInsertUserRoles" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into ums_user_roles
                (user_name, role_id, school_id, update_time, create_time)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.userName,jdbcType=VARCHAR}, #{item.roleId,jdbcType=CHAR}, #{item.schoolId,jdbcType=CHAR},
             #{item.updateTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-04-25-->
    <update id="batchDeleteByUserName">
        update ums_user_roles
        set delete_time = now()
                where user_name = #{userName,jdbcType=VARCHAR}
                  and school_id = #{schoolId,jdbcType=CHAR}
                  and role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            (#{roleId,jdbcType=CHAR})
        </foreach>
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-04-25-->
    <select id="getRoleIdsByUserName" resultType="java.lang.String">
        select distinct role_id
        from ums_user_roles
        <where>
            <if test="userName != null and userName != ''">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="schoolIds != null and schoolIds.size() != 0">
                and school_id in
                <foreach collection="schoolIds" item="schoolId" open="(" separator="," close=")">
                    (#{schoolId,jdbcType=VARCHAR})
                </foreach>
            </if>
            and delete_time is null
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-06-03-->
    <select id="existUserNameByRoleId" resultType="java.lang.String">
        select user_name
        from ums_user_roles
        where role_id = #{roleId,jdbcType=CHAR}
        and delete_time is null
        limit 1
    </select>
</mapper>