<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.edu.db.mapper.UmsUserMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.edu.db.model.UmsUser">
        <!--@mbg.generated-->
        <!--@Table ums_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="avator" jdbcType="VARCHAR" property="avator"/>
        <result column="pcd_id" jdbcType="INTEGER" property="pcdId"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="reg_ip" jdbcType="INTEGER" property="regIp"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, nick_name, full_name, sex, avator, pcd_id, company, birthday, description,
        reg_ip, user_type, update_time, delete_time, create_time
    </sql>

    <update id="updateByUserName" parameterType="com.langyastudio.edu.db.model.UmsUser">
        <!--@mbg.generated-->
        update ums_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="avator != null">
                avator = #{avator,jdbcType=VARCHAR},
            </if>
            <if test="pcdId != null">
                pcd_id = #{pcdId,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="regIp != null">
                reg_ip = #{regIp,jdbcType=INTEGER},
            </if>
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_name = #{userName,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-04-25-->
    <select id="getInfoByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_user
        where user_name = #{userName,jdbcType=VARCHAR}
          and delete_time is null
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-25-->
    <select id="getUserNameList" resultType="java.lang.String">
        select distinct u.user_name
                from ums_user u

        <!--join-->
        <if test="roleId != null">
            left join ums_user_roles ur on u.user_name = ur.user_name
        </if>
        <if test="phoneKey != null">
            left join ums_user_auth ua on u.user_name = ua.user_name
        </if>

        <!--where-->
        <where>
            <if test="roleId != null">
                ur.role_id = #{roleId,jdbcType=CHAR}
            </if>
            <if test="userNameKey != null">
                and u.user_name like concat('%', #{userNameKey,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userType != null">
                and u.user_type = #{userType,jdbcType=TINYINT}
            </if>
            <if test="fullNameKey != null">
                and u.full_name like concat('%', #{fullNameKey,jdbcType=VARCHAR}, '%')
            </if>
            <if test="phoneKey != null">
                and ua.phone like concat('%', #{phoneKey,jdbcType=VARCHAR}, '%')
            </if>

            <if test="true">
                and u.delete_time is null
            </if>
            <if test="roleId != null">
                and ur.delete_time is null
            </if>
        </where>

        <!--order-->
        <if test="isAsc != null and isAsc == 2">
            order by u.id desc
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-26-->
    <insert id="insertUser">
        INSERT INTO ums_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="avator != null">
                avator,
            </if>
            <if test="pcdId != null">
                pcd_id,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="regIp != null">
                reg_ip,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            update_time,
            <if test="deleteTime != null">
                delete_time,
            </if>
            create_time
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="avator != null">
                #{avator,jdbcType=VARCHAR},
            </if>
            <if test="pcdId != null">
                #{pcdId,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="regIp != null">
                #{regIp,jdbcType=INTEGER},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=TINYINT},
            </if>
            #{updateTime,jdbcType=TIMESTAMP},
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            #{createTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>
</mapper>