<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langyastudio.springboot.mapper.UmsUserMapper">
    <resultMap id="BaseResultMap" type="com.langyastudio.springboot.model.UmsUser">
        <!--@mbg.generated-->
        <!--@Table ums_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="avator" jdbcType="VARCHAR" property="avator"/>
        <result column="pcd_id" jdbcType="INTEGER" property="pcdId"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="reg_ip" jdbcType="INTEGER" property="regIp"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, nick_name, full_name, sex, avator, pcd_id, company, birthday, description,
        reg_ip, user_type, update_time, delete_time, create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ums_user
        where user_name = #{userName,jdbcType=VARCHAR}
        and delete_time is null
    </select>

    <select id="selectByPrimaryKeyEx" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ums_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from ums_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.langyastudio.springboot.model.UmsUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into ums_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="avator != null">
                avator,
            </if>
            <if test="pcdId != null">
                pcd_id,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="regIp != null">
                reg_ip,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="avator != null">
                #{avator,jdbcType=VARCHAR},
            </if>
            <if test="pcdId != null">
                #{pcdId,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="regIp != null">
                #{regIp,jdbcType=INTEGER},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=TINYINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.langyastudio.springboot.model.UmsUser">
        <!--@mbg.generated-->
        update ums_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="avator != null">
                avator = #{avator,jdbcType=VARCHAR},
            </if>
            <if test="pcdId != null">
                pcd_id = #{pcdId,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="regIp != null">
                reg_ip = #{regIp,jdbcType=INTEGER},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=TINYINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_name = #{userName,jdbcType=VARCHAR}
    </update>
</mapper>